GtkWindow {
  background: linear-gradient(153deg, #151515, #151515 5px,
    transparent 5px) 0 0,
  linear-gradient(333deg, #151515, #151515 5px, transparent 5px) 10px 5px,
  linear-gradient(153deg, #222, #222 5px, transparent 5px) 0 5px,
  linear-gradient(333deg, #222, #222 5px, transparent 5px) 10px 10px,
  linear-gradient(90deg, #1b1b1b, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d, #1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%,
    transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
treeview.view {
  color: black; /* Text color of tree */
}
/* What do the tree expander arrows look like? */
.expander {
  -gtk-icon-source: url("plus.png");
  /* -gtk-icon-source: url("Caret.png"); */
}
.expander:checked {
  -gtk-icon-source: url("minus.png");
  /* -gtk-icon-source: url("Caret-checked.png"); */
}
grid {
  /* background-color: #bbb; */
}
grid label {
  font-size: 1.5em;
}
grid frame {
  /* background-color: green; */
  border-width: 1px 0px 0px 1px;
  /* margin: 10px 10px 10px 10px; /1* padding? *1/ */
}
grid frame:nth-child(odd) {
  background-color: #bbb;
  border-width: 1px 0px 1px 1px;
}
grid frame:nth-child(even) {
  background-color: #fff;
  border-width: 1px 1px 0px 1px;
}
grid frame:last-child {
  background-color: #fff;
  border-width: 0px 1px 1px 1px;
}
/* Nested grid styles */
frame:last-child grid frame:nth-child(-n+4) {
  background-color: #888;
  /* border-width: 1px 0px 0px 1px !important; */
  /* margin: 10px 10px 10px 10px; /1* padding? *1/ */
}
/* frame:last-child grid frame:nth-child(1n-5) { */
/*   background-color: #fff; */
/*   border-width: 1px 1px 0px 1px; */
/* } */
frame border {
  border-style: solid;
  border-radius: 0;
  padding: 20px;
}
frame:last-child border {
  padding: 0;
}
frame:last-child frame border {
  padding: 10px 20px 10px 20px;
}
button {
  color: black;
  background-color: #bbb;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  border-color: #333;
  border-radius: 0 0 0 0;
  padding: 12px 4px;
}
button:first-child {
  border-radius: 5px 0 0 5px;
}
button:last-child {
  border-radius: 0 5px 5px 0;
  border-width: 2px;
}
button:hover {
  /* padding: 12px 48px; */
  background-color: #4870bc;
}
button *:hover {
  color: white;
}
button:hover:active,
button:active {
  background-color: #993401;
}
